.black-50 {

color: black;
padding: 4px 12px;
margin: 24px 0;
font-family: 'Caudex', serif;
height: 80%;
}

h1{
	color: #ee3524;
	font-style: bold;
}

h2{
	color: #1b8bab;
}

a{
	color: #ecb23a;
	padding-left: 10px;
}

a:hover{
	color: #68be45;
}


#main{
	margin: 7px;
	width: 320px;
	float: left;
	background: white;
}

img{
	height: 300px;
	width: 300px;

}