.black-50 {
background: url(../media/black-50-trans.png);
color: #fff;
padding: 4px 12px;
margin: 24px 0;
font-family: 'Caudex', serif;
}

h1{
	color: #ee3524;
	font-style: bold;
}

h2{
	color: #1b8bab;
}

a{
	color: #ecb23a;
	padding-left: 10px;
}

a:hover{
	color: gray;
}


#main{
	margin: 7px;
	width: 320px;
	float: left;
	background: #e0dfdf 50%;
}